<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269134980056-9qfs41l7fksqlnn6k1u1rs2a0g8fhg2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269134980056-9qfs41l7fksqlnn6k1u1rs2a0g8fhg2j</string>
	<key>API_KEY</key>
	<string>AIzaSyBXIoMWoxIZ7S_uyv7RPLmpXsGeFpqIoRY</string>
	<key>GCM_SENDER_ID</key>
	<string>269134980056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutternotifications.flutterNotifications.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-notifications-8908b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notifications-8908b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269134980056:ios:cbd121d49b5886852848ad</string>
</dict>
</plist>